[Unit]
Description=Janus WebRTC Server
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/janus -o
Restart=on-abnormal
LimitNOFILE=65536
User=janus
Group=janus

[Install]
WantedBy=multi-user.target
